@import "colors";
header#page-header {
  color: $primary;
  background-color: $secondary;
  padding: 5px;
  border-bottom: 5px solid darken($secondary, 30%);

  h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5em;

    a {
      color: inherit;
    }
  }

  h3#header-link-left {
    float: left;
    margin-bottom: 0;
  }

  h3#header-link-right {
    float: right;
  }
}

footer#page-footer {
  color: $primary;
  background-color: $secondary;
  padding: 5px;
  border-top: 5px solid darken($secondary, 30%);
}
