// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

div.col-md-4 {
 img {
  height: auto;
  max-width: 30%;
  }
}

div.col-md-8 {
  max-width: 100%;
  table tr {
    height:20%;
  }
}

div.row {
  border: 5px solid $secondary;
  padding: 1%;
  margin: auto;
  margin-bottom: 1%;
}

.movie-title-index {
  margin-top: 0;
}

h2#home-page-h2 {
  color: $secondary;
  font-size: 2em;
  font-weight: 700;
}
