<footer id="page-footer">
  <p>Copyright &copy 2019 <a href="https://github.com/kdbarton1s">Kayla B</a>.
  All information and pictures were pulled from <a href="https://www.imdb.com/?ref_=nv_home">IMDB</a>.</p>
</footer>
